<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Starbucks Offers</title>

    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Starbucks Capstone Project</a>
            <a class="navbar-brand" href="/machine-learning">Machine Learning</a>
        </div>
    </div>
</nav>


<div class="jumbotron">
    <div class="container">
        <h1 class="text-center">Starbucks Capstone Project</h1>
        <p class="text-center">Analyzing clients' response to promotional offers</p>
        <hr />
      
    </div>
</div>

<div class="container">
    {% block content %}
        <div class="page-header">
            <h1 class="text-center">Overview of Training Dataset</h1>
        </div>
    {% endblock %}

    {% block results %}

    {% endblock %}

    {% for id in ids %}
        <div id="{{id}}" style="margin-bottom:100px"></div>
    {% endfor %}
</div>

{% block scripts %}
<script type="text/javascript">
    var graphs = {{graphJSON | safe}};
    var ids = {{ids | safe}};
    for(let i in graphs) {
        Plotly.plot(ids[i], graphs[i].data, graphs[i].layout);
    }
</script>
{% endblock %}

</body>
</html>
